@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.font-secondary {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.transform-style-perspective {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Для мобильных и планшетов */
#hero {
  min-height: calc(55vh + 40px); /* Для мобильных и планшетов */
}

/* Для десктопов и больших экранов */
@media (min-width: 1024px) {
  #hero {
    min-height: calc(80vh + 40px); /* Увеличиваем высоту блока для десктопов */
  }
}